body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #181818;
}
.container {
  width: 90vw;
  margin: 0 auto;
}
.link-1 {
  /* text-decoration: none; */
  color: white;
  font: bold;
}
.link-1:hover {
  text-shadow: 0 0 5px;
  transition: 300ms ease;
}
a {
  text-decoration: none;
}
p {
  color: black;
}
* {
  color: black;
}
